---
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";
import FarcasterChip from "../components/FarcasterChip.astro";
import KickChip from "../components/KickChip.astro";


// Put all your links here
const links: Link[] = [
  {
    desc: "My personal blog",
    link: "paragraph.xyz/@d4rm_",
    icon: "fa-solid fa-square-rss",
  },
  {
    desc: "Libly.xyz (freezed)",
    link: "libly.xyz",
    icon: "fa-solid fa-book",
  },
  {
    desc: "Libly credentials",
    link: "x.com/d4rm_/status/1722034025190023404",
    icon: "fa-solid fa-id-card",
  },
  {
    desc: "El Burro Podcast (2023)", // The text that will be rendered
    link: "pod.link/1705752091", // The link
    icon: "fa-solid fa-podcast", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },{
    desc: "Punto de interés (2021)", // The text that will be rendered
    link: "pod.link/puntodeinteres", // The link
    icon: "fa-solid fa-podcast", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },
  
];
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
      integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Gordo compu full-time. Student of systems engineering. Blockchain, cryptography, distributed systems, cybersecurity and performant software.' />
    <meta name='author' content='d4rm' />
    <meta property='og:title' content='dantesito.eth 🇦🇷 (arg/acc)' />
    <meta property='og:image' content='avatar.png' />
    <meta property='og:description' content='dantesito.eth 🇦🇷 (arg/acc)' />
    <meta property='twitter:description' content='Gordo compu full-time. Student of systems engineering. Blockchain, cryptography, distributed systems, cybersecurity and performant software.' />
    <meta property='twitter:title' content='dantesito.eth 🇦🇷 (arg/acc)' />
    <meta property='twitter:image' content='avatar.png' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@BremNeville' />
    <title>dantesito.eth 🇦🇷 (arg/acc)</title>
    <style>
      @font-face {
        font-family: Geist;
        src: url(/Geist.ttf);
        font-display: swap;
      }
    </style>
  </head>
  <body
    class='bg-[#1e1e1e] flex justify-center items-center w-screen font-[Geist] text-white'
  >
    <main class='w-[80%] flex flex-col gap-8'>
      <h1 class='mt-8 md:text-6xl text-4xl font-black text-center'>dantesito.eth 🇦🇷 (arg/acc)</h1>
      <p class='text-center mx-auto'>
        Gordo compu full-time. Student of systems engineering. Blockchain, cryptography, distributed systems, cybersecurity and performant software.
      </p>
      <div class='grid justify-center gap-4'>
        {
          links.map(({ desc, link, icon }) => {
            return <Card {desc} {link} {icon} />;
          })
        }
      </div>
      <div class='flex flex-col gap-3'>     
        <div class='flex justify-center gap-8'>  
        <Chip link='github.com/d4rm5' icon='fa-brands fa-github' />
        <Chip link='x.com/d4rm_' icon='fa-brands fa-x-twitter' />
        <FarcasterChip link="warpcast.com/d4rm" />
        <Chip link='mastodon.com/@d4rm_' icon='fa-brands fa-mastodon' />
        <Chip link='keybase.io/d4rm_/pgp_keys.asc?fingerprint=0acda3ab3d0ce6bfde138f5adf27a082e78df483' icon='fa-solid fa-key' /> 
      </div> 
        <div class='flex justify-center gap-8'>
        <Chip link='tiktok.com/@d4rm_' icon='fa-brands fa-tiktok' /> 
        <Chip link='twitch.com/d4rm_' icon='fa-brands fa-twitch' />
        <KickChip link="kick.com/d4rm" />
        <Chip link='youtube.com/@d4rm_' icon='fa-brands fa-youtube' /> 
      </div>  
      </div>
      <p class='mb-8 text-center mx-auto'>Hosted with 💘 in IPFS through fleek.xyz - hello@d4rm.xyz</p>
    </main>
  </body>
</html>
